.screen-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  padding: 20px var(--horizontal-space);
  box-sizing: border-box;
  background-color: white;
  z-index: 9;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

#screen-header__icons__cog {
  position: relative;
}

#screen-header__icons__cog__new__update {
  left: 0px;
}
